---
---

<div class="one-third column">
  <h2>About</h2>
  <p>The Cape Town Ruby Brigade is a monthly meeting of <a href="http://ruby-lang.org">Ruby</a> developers. We meet on the 2nd Wedesday of the month from March through to November.</p>
</div>

<div class="one-third column">
  <h2>Upcoming Talks</h2>
  <h3><a href="https://www.facebook.com/events/206908032804927/">Rubymotion</a></h3>
  <ul>
    <li><strong>Date</strong> 11th September 2013 @ 18:00</li>
    <li><strong>Venue</strong> <a href="http://bandwidthbarn.org/contact-us.html ">The Bandwidth Barn</a>, Woodstock</li>
  </ul>
  <p><a href="/talk_archives">Talk Archives</a></p>
</div>

<div class="one-third column">
  <h2>Community</h2>
  <ul class="square">
    <li><a href="https://groups.google.com/forum/#!forum/cape-town-ruby-brigade">Mailing List</a></li>
    <li><a href="https://twitter.com/capetown_rb">Twitter</a></li>
    <li><a href="https://www.facebook.com/groups/capetown.rb">Facebook</a></li>
  </ul>
</div>
