---
---

<div class="one-third column">
  <h2>About</h2>
  <p>The <a href="http://www.capetown.travel">Cape Town</a> Ruby Brigade is a monthly meeting of <a href="http://ruby-lang.org">Ruby</a> developers. We meet on the 2nd Wedesday of the month from March through to November.</p>
</div>

<div class="one-third column">
  <h2>Upcoming Talks</h2>
  <!--p>Got a talk you want to give? <a href="mailto:ctrb@capetownrb.org">Mail us!</a></p-->

  <h3><a href="https://www.facebook.com/events/729722220434098">2014 Cape Town Ruby Brigade Hackathon</a></h3>
  <ul>
    <li><strong>Date</strong>: Tuesday 14 October 2014 @ 18:00(ish)</li>
    <li><strong>Venue</strong>: 19 Park Rd, Cape Town, 8001</li>
    <li><strong>RSVP</strong>: <a href="https://www.facebook.com/events/729722220434098">Event Page</a></li>
  </ul>
  <h4><a href="/talk_archives">Talk Archives</a></h4>
</div>

<div class="one-third column">
  <h2>Community</h2>
  <ul class="square">
    <li><a href="https://groups.google.com/forum/#!forum/cape-town-ruby-brigade">Mailing List</a></li>
    <li><a href="https://twitter.com/capetown_rb">Twitter</a></li>
    <li><a href="https://www.facebook.com/groups/capetown.rb">Facebook</a></li>
  </ul>
</div>
