---
title: Talk Archives
---
<ul>
  <li>2014
  <ul>
    <li>August - <a href="/downloads/networking_distributed_2014_08.zip">Networked and Distributed Systems with Ruby</a></li>
    <li>July - <a href="http://slides.com/salmanansari/testing">Why Test?</a></li>
    <li>June - Genetic Algorithms and Computational Intelligence</li>
    <li>May - Ruby + SQL In Depth</li>
    <li>March - Bitcoin, BitX and Switchless</li>
    <li>February - <a href="/downloads/rubyfuza_lightning_talks_2014_1.pdf">Rubyfuza Lightning Talks</a></li>
  </ul>
  </li>
  

  <li>2013
  <ul>
    <li>October - Hackathon</li>
    <li>September - <a href="/downloads/rubymotion_2013_09.pdf">Rubymotion</a></li>
    <li>August - <a href="/downloads/StandardLibrary_2013_08.tar.gz">The Standard Library</a></li>
    <li>July - Static Websites with Nanoc and Sinatra</li>
    <li>June - <a href="/downloads/ruote_2013_07.pdf">Ruote</a></li>
    <li>May - Building Ambitious Web Applications with Ember.js and Ruby on Rails</li>
    <li>April - <a href="/downloads/caching_in_rails_2013_04.pdf">Caching in Rails</a></li>
    <li>March - Conductor</li>
    <li>February - Rubyfuza Lightning Talks</li>
  </ul>
  </li>

  <li>2012
  <ul>
    <li>October - Ruby @ Vibedeck: Swapping Audio Encoders with Minimal Disruption</li>
    <li>September - Deploying with Heroku</li>
    <li>August - <a href="/downloads/intro_ror_2012_08.pdf">An Introduction to Rails</a></li>
    <li>July - <a href="/downloads/resque_2012_07.pdf">Resque</a></li>
    <li>June - Ruby @ Hetzner</li>
    <li>May - MXit Hack Night</li>
    <li>April - TorqueBox</li>
    <li>March - <a href="/downloads/devops_chef_2012_03.pdf">DevOps and Chef</a></li>
    <li>February - Cell/Apotomo</li>
    <li>February - Rubyfuza Lightning Talks</li>
  </ul>
  </li>

  <li>2011
  <ul>
    <li>October - Git Fledgling to Git Hero</li>
    <li>September - A Beginners Guide to Rails Testing</li>
    <li>August - Game Development in Ruby using DRb, Gosu and Chipmunk</li>
    <li>July - Ruby MagLev</li>
    <li>June - A RESTful DSL for Ruby</li>
    <li>May - Rails 3 Generators</li>
    <li>April - Sinatra</li>
    <li>March - Mobile Application Development with Rhodes</li>
    <li>February - Rubyfuza Lightning Talks</li>
  </ul>
  </li>

  <li>2010
  <ul>
    <li>November - <a href="/downloads/neat_ruby_tricks_2010_11.pdf">Neat Ruby Tricks</a></li> 
    <li>October - <a href="/downloads/ruby_fibers_2010_10.pdf">Ruby Fibers</a></li> 
    <li>August - Domain Specific Languages</li> 
    <li>July - Creating Ruby Gems</li> 
    <li>June - MongoDB</li> 
    <li>May - Capistrano</li> 
    <li>April - Testing with Factory Girl, Cucumber and Pickle</li> 
    <li>March - Sequel</li> 
  </ul>

  <li>2009
  <ul>
    <li>October - Online Payment Processing with Ruby/Rails and Platform45's Methodologies.</li> 
    <li>September - Suspenders: The Thoughtbot Rails Template</li>
    <li>August - Lessons Learned in a Rails Startup</li> 
    <li>June - <a href="/downloads/ruby_vim_2009_06.pdf">Using Vim As Your Ruby Editor</a></li> 
    <li>February - Ramaze</li> 
  </ul>
  </li>

  <li>2008
  <ul>
    <li>November - Irbie / What You Can Expect in Ruby 2.0</li> 
    <li>October - i18n vs Gettext</li> 
    <li>September - Rails Based NGO Platform</li> 
    <li>July - Google Mashups</li> 
    <li>June - <a href="/downloads/gui_ruby_2008_06.pdf">GUIs and Ruby</a></li> 
    <li>May - Scotland on Rails Reportback</li> 
    <li>April - YUI and Rails</li> 
    <li>March 
    <ul>
      <li>Emacs as a Ruby Development Environment</li>
      <li><a href="/downloads/ruby_equality_2008_02.pdf">Equality in Ruby</a></li> 
    </ul>
    </li>
    <li>February - Pain in Ruby</li> 
    <li>January - Merb / RSpec</li> 
  </ul>
  </li> 

  <li>2007
  <ul>
    <li>November
    <ul>
      <li><a href="/downloads/backup_gem_2007_11.pdf">Backup Gem</a></li>
      <li><a href="/downloads/junebug_2007_11.pdf">Junebug</a></li>
      <li><a href="/downloads/useful_stuff_2007_11.pdf">Useful Stuff</a></li>
    </ul>
    </li> 
  </ul>
  </li> 
</ul>
