---
title: Talk Archives
---
<ul>
  <li>2013
  <ul>
    <li>Septmber - Rubymotion</li>
    <li>August - <a href="/downloads/StandardLibrary_2013_08.tar.gz">The Standard Library</a></li>
    <li>July - Static Websites with Nanic and Sinatra</li>
    <li>June - <a href="/downloads/ruote_2013_07.pdf">Ruote</a></li>
    <li>May - Building ambitious web applications with Ember.js and Ruby on Rails</li>
    <li>April - Caching in Rails</li>
    <li>March - Conductor</li>
  </ul>
</ul>
