a {
  color: #980000;
  text-decoration: none;

  &:visited {
    color: #980000;
    text-decoration: none;
  }

  &:hover {
    color: red;
  }
}

#footer {
  text-align: center;
  p {
    color: #DDDDDD;
  }

  a {
    color: #DDDDDD;
  }
}
